{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <style>
        body {
            font-family: 'Nunito', sans-serif;
            font-weight: 400;
            height: 100vh;
            color: #9bc5d6;
            background-image: url("{% static 'images/registration_bg.jpg' %}");
            display: flex;
            align-items: top;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1>Registration</h1>    

    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="Username" placeholder="Enter Your Username"><br>
        <input type="text" name="Password" placeholder="Enter Your Password"><br>
        <input type="text" name="First_name" placeholder="Enter Your First Name"><br>
        <input type="text" name="Last_name" placeholder="Enter Your Last Name"><br>
        <input type="email" name="Email" placeholder="Enter Your Email address"><br>
        <input type="password" name="CPassword" placeholder="Confirm Your Password"><br>
        <input type="submit">
    </form> 

    {% for msg in messages %}
        {{ msg }}
    {% endfor %}   
</body>
</html>
